<mat-grid-list cols="1" rowHeight="100vh">
  <mat-grid-tile
      *ngFor="let tile of [1]">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon [color]="gender === 'male' ? 'warn' : 'accent'" class="u-gender-icon">{{gender}}</mat-icon>
          </div>
          <mat-card-title>{{name?.title}} {{name?.first}} {{name?.last}}</mat-card-title>
          <mat-card-subtitle>{{gender}} | <mat-icon class="u-icon" inline>cake</mat-icon> {{dob?.date | date:'dd MMMM YYYY' }} - {{dob?.age}} years old | <mat-icon class="u-icon" inline>explore</mat-icon>Nationality: {{nat}}</mat-card-subtitle>
        </mat-card-header>
          <img
            class="u-image"
            mat-card-xl-image
            loading="lazy"
            [srcset]=""
            [sizes]=""
            [src]="picture?.large"
            [alt]=""
          >
        <mat-card-content>
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="u-icon">place</mat-icon>
                Address
              </ng-template>
              <p>
                {{location?.street?.name}} {{location?.street?.number}}
              </p>
              <p>
                {{location?.postcode}} {{location?.city}} {{location?.state}} {{location?.country}}
              </p>
              <p><strong>Timezone</strong>: {{ location?.timezone?.description }} | {{ location?.timezone?.offset }}</p>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="u-icon">contacts</mat-icon>
                Contacts
              </ng-template>
              <p>{{email}}</p>
              <p>{{phone}}</p>
              <p>{{cell}}</p>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="u-icon">account_circle</mat-icon>
                User data
              </ng-template>
              <p>{{id?.name}} {{id?.value}}</p>

              <!-- <p>{{login?.md5}}</p>
              <p>{{login?.password}}</p>
              <p>{{login?.salt}}</p>
              <p>{{login?.sha1}}</p>
              <p>{{login?.sha256}}</p>
              <p>{{login?.username}}</p>
              <p>{{login?.uuid}}</p> -->

              <p>Registered since {{registered?.date | date:'dd MMMM YYYY' }}</p>
              <p>Registered for {{registered?.age}} years</p>
            </mat-tab>

          </mat-tab-group>
        </mat-card-content>
        <!-- <mat-card-actions> -->
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        <!-- </mat-card-actions> -->
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>

