<mat-grid-list cols="1" rowHeight="100vh">
  <mat-grid-tile
      *ngFor="let tile of [1]">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon [color]="gender === 'male' ? 'warn' : 'accent'" class="u-gender-icon">{{gender}}</mat-icon>
          </div>
          <mat-card-title>{{name?.title}} {{name?.first}} {{name?.last}}</mat-card-title>
          <mat-card-subtitle>{{gender}} | <mat-icon class="u-icon" inline>cake</mat-icon> {{dob?.date | date:'dd MMMM YYYY' }} - {{dob?.age}} years old | <mat-icon class="u-icon" inline>explore</mat-icon>Nationality: {{nat}}</mat-card-subtitle>
        </mat-card-header>
          <img
            *ngIf="picture?.thumbnail"
            class="u-image"
            mat-card-xl-image
            loading="lazy"
            srcset="{{picture?.thumbnail + ' 454w'}}, {{picture?.medium + ' 599w'}}, {{picture?.large + ' 620w'}}"
            sizes="(max-width: 500px) 454px, (max-width: 619px) 599px, 620px"
            [src]="picture?.large"
            alt="avatar image"
          >
        <mat-card-content>
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="u-icon">place</mat-icon>
                Address
              </ng-template>
              <p>
                {{location?.street?.name}} {{location?.street?.number}}
              </p>
              <p>
                {{location?.postcode}} {{location?.city}} {{location?.state}} {{location?.country}}
              </p>
              <p><strong>Timezone</strong>: {{ location?.timezone?.description }} | {{ location?.timezone?.offset }}</p>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="u-icon">contacts</mat-icon>
                Contacts
              </ng-template>
              <p>{{email}}</p>
              <p>{{phone}}</p>
              <p>{{cell}}</p>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="u-icon">account_circle</mat-icon>
                User data
              </ng-template>
              <p>{{id?.name}} {{id?.value}}</p>
              <p>Registered since {{registered?.date | date:'dd MMMM YYYY' }}</p>
              <p>Registered for {{registered?.age}} years</p>
            </mat-tab>

          </mat-tab-group>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>

